<style>
 
  .custom-footer.footer{
    padding: 20px 67px 0px 100px;
    background-color: #000000;
  }
  .custom-footer-wrapper{
    margin: 20px auto 0 auto;
    text-align: left;
    padding-top: 20px;
  }
  .custom-footer-top-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .custom-footer-logo {
    margin-bottom: 25px;
  }
  .custom-footer-menu{
    display: flex;
    justify-content: space-evenly;
  }
  .social-icons svg{
    width: 39px;
    height: 39px;
    border-radius: 50%;
  }
  .custom-footer-text p{
/*     font-family: 'Geometria'; */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
  }
  .customer-footer-left {
    flex-basis: 25%;
  }
  .custom-footer-middle{
    flex-basis: 50%;
  }
  .custom-footer-right{
    flex-basis: 25%;
  }
  .custom-footer-menu-wrapper h6, .form-address-wrapper h6,.footer-connect-wrapper h6{
    margin: 0;
    padding: 0 0 5px;
/*     font-family: 'Geometria'; */
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
  }
  .footer-connect-wrapper p{
/*     font-family: 'Geometria'; */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
  }
  .footer-menu-items a{
    display: block;
    text-decoration: none;
/*     font-family: 'Geometria'; */
    font-style: normal;
    font-weight: 400;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 15px;
  }
  .footer-menu-items a:first-child{
    margin-top: 15px;
  }
  .custom-footer-right-wrapper{
    display: flex;
  }



  .field-custom input[type=email]{
/*     font-family: 'Geometria'; */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #D9D9D9;
    width: 350px;
    height: 50px;
    padding: 0 10px;
    margin: 0 0 15px;
    border: 1px solid #e7e6e5;
    outline: none;
    background: #fff;
    -webkit-appearance: none;
    appearance: none;
    text-rendering: optimizeLegibility;
  }
  .field-custom input[type=email]:focus{
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  }
  .newsletter-form__button-custom{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    padding: 13px 20px;
    text-align: center;
    letter-spacing: 1px;
    word-break: break-word;
    cursor: pointer;
    transition: all .2s linear;
    background: #FFFFFF;
/*     font-family: 'Geometria'; */
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }
   .newsletter-form__button-custom{
    display: inline-block;
    width: 120px;
    padding-left: 0;
    padding-right: 0;
    float: none;
  }
/*   .newsletter-form__button-custom:hover:not([disabled]){
    background: #e57342;
    border-color: #e57342;
    color: #ffffff;
  } */


  .custom-footer-bottom{
    position: relative;
  }
  .custom-footer-bottom:before{
    position: absolute;
    content: "";
    top: -20px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
  }
  .custom-footer-bottom-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
  }
  p.credits{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
  }


 @media screen and (max-width: 480px){
   .custom-footer.footer {
    padding: 20px 23px 0px 21px;
  }
  .custom-footer-top-wrapper {
    flex-direction: column;
  }
  .custom-footer-text p {
    font-size: 12px;
    line-height: 22px;
  }
  .field-custom input[type=email]{
    width: 100%;
  }
  .newsletter-form__button-custom{
    width: 100%;
  }
  .custom-footer-bottom-wrapper{
    flex-direction: column;
  }
}
</style>
<section class="custom-footer footer">
  <div class="custom-footer-wrapper">
    <div class="custom-footer-top">
      <div class="custom-footer-top-wrapper">
        <div class="customer-footer-left">
          <div class="customer-footer-left-wrapper">
            <div class="custom-footer-logo">
              {% if section.settings.footer_logo %}
                <img src="{{ section.settings.footer_logo | img_url: 'master' }}" alt="Footer Logo">
              {% endif %}
            </div>
            <div class="social-icons">
              {% render 'social-icons', name: 'facebook' %}
              {% render 'social-icons', name: 'instagram' %}
              {% render 'social-icons', name: 'email' %}
            </div>
            <div class="custom-footer-text">
              <p>Glanor is a retailer of 
                  high-quality leather and canvas bags at affordable prices.
              </p>
            </div>
          </div>
        </div>
        <div class="custom-footer-middle">
          <div class="custom-footer-middle-wrapper">
            <div class="custom-footer-menu">
              {% for block in section.blocks %}
                {% if block.type == "footer-menu" %}
                  <div class="custom-footer-menu-wrapper">
                    
                      <h6>{{ block.settings.footer-menu.title }} </h6>
                    
                    <div class="footer-menu-items">
                      {% for link in block.settings.footer-menu.links %}
                      	<a href="{{ link.url }}">{{ link.title }}</a>
                      {% endfor %}
                    </div>
                  </div>
                 {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="custom-footer-right">
          <div class="custom-footer-right-wrapper">
            <div class="footer-connect">
              <div class="footer-connect-wrapper">
                <h6>Newsletter</h6>
                <p>Stay connected to the latest news&nbsp;&amp; deals:</p>
                <div class="news-letter">
                      {% form 'customer', class: 'newsletter-form' %}
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <div class="newsletter-form__field-wrapper-custom">
                          <div class="field-custom">
                            <input
                              id="NewsletterForm--{{ section.id }}"
                              type="email"
                              name="contact[email]"
                              class="field__input-custom"
                              value="{{ form.email }}"
                              aria-required="true"
                              autocorrect="off"
                              autocapitalize="off"
                              autocomplete="email"
                              {% if form.errors %}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="Newsletter-error--{{ section.id }}"
                              {% elsif form.posted_successfully? %}
                                aria-describedby="Newsletter-success--{{ section.id }}"
                              {% endif %}
                              placeholder="{{ 'newsletter.label' | t }}"
                              required
                            >
                            {% comment %}
                            <label class="field__label-custom" for="NewsletterForm--{{ section.id }}">
                              {{ 'newsletter.label' | t }}
                            </label>
                          {% endcomment %}
                          <br>
                            <button type="submit" class="newsletter-form__button-custom field__button-custom" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                              {% comment %}{% render 'icon-arrow' %}{% endcomment %}
                              SIGN UP
                            </button>
                          </div>
                          {%- if form.errors -%}
                            <small class="newsletter-form__message-custom form__message-custom" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                          {%- endif -%}
                        </div>
                        {%- if form.posted_successfully? -%}
                          <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                        {%- endif -%}
                      {% endform %}
                </div>
              </div>
            </div>
            {% comment %}
            <div class="footer-address">
              <div class="form-address-wrapper">
                
                  <h6>Directions & Hours</h6>
                
                <div class="form-address-inner">
                   <p>Come by and see us <br>Monday - Saturday from&nbsp;8a - 6p.</p><p></p><p><strong>3001 West I-20<br>Weatherford, TX 76087<br></strong><a href="tel:8889552955" title="tel:8889552955"><strong>888.955.2955</strong></a></p><p></p><p>Cafe Hours: <br>Tuesday - Saturday 7:30a - 3p.</p>
                </div>
              </div>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <div class="custom-footer-bottom">
      <div class="custom-footer-bottom-wrapper">
        <div class="custom-footer-bottom-left">
          <p class="credits">
          © 2022 Glanor Bags</p>
        </div>
        <div class="custom-footer-bottom-left">
          <div class="payment-methods">
             {% comment %} <img src="{{ 'payment-method.png' | asset_img_url: 'master' }}" alt="Payment Method">{% endcomment %}
             {% render 'payment', name: 'amex' %}
             {% render 'payment', name: 'apple' %}
             {% render 'payment', name: 'club' %}
             {% render 'payment', name: 'discover' %}
             {% render 'payment', name: 'g-pay' %}
             {% render 'payment', name: 'master-card' %}
             {% render 'payment', name: 'paypal' %}
             {% render 'payment', name: 'shop-pay' %}
             {% render 'payment', name: 'venmo' %}
             {% render 'payment', name: 'visa' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Custom Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    }
  ],
  "blocks": [
     {
       "name": "Footer Menu",
       "type": "footer-menu",
       "settings": [
          {
            "type": "link_list",
            "id": "footer-menu",
            "label": "Menu"
          }

       ]
     }
   ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}