{{ 'maze-header.css' | asset_url | stylesheet_tag }}
{% style %}
  .menu-content-top{
    background: {{section.settings.bg-color}};
  }
{% endstyle %}
<maze-header>
  <div class="page-width--">
    <div class="maze-header">
          <div class="menu-container">
            <div class="menu-wrapper">
                <div class="menu-content-top">
                  {% comment %}
                  <div class="mh2-c-menu">
                    <ul class="mh2-c-menu-ul">
                      <li class="mh2-c-menu-li">Contact</li>
                      <li class="mh2-c-menu-li">Gift Cards</li>
                      <li class="mh2-c-menu-li">Shipping & Return</li>
                      <li class="mh2-c-menu-li">Login</li>
                      <li class="mh2-c-menu-li">Cart icon</li>
                    </ul>
                  </div>
                  {% endcomment %}
                  <div class="mh2-ct-logo">
                    {% comment %}<h1>SHOP LOGO</h1>{% endcomment %}
                    {% if  section.settings.header_logo %}
                      <a href="/"><img src="{{ section.settings.header_logo | img_url: 'master' }}" alt="Header Logo"></a>
                    {% endif %}
                  </div>
                  <div class="mh2-ct-search">
                    <div class="mh2-dp-search">
                      <span class="mh2-search-icon">
                        <svg focusable="false" width="18" height="18" class="icon icon--header-search   " viewBox="0 0 18 18">
                          <path 
                            d="M12.336 12.336c2.634-2.635 2.682-6.859.106-9.435-2.576-2.576-6.8-2.528-9.435.106C.373 5.642.325 9.866 2.901 12.442c2.576 2.576 6.8 2.528 9.435-.106zm0 0L17 17" 
                            fill="none" 
                            stroke="currentColor" 
                            style="fill: none; stroke: #000; stroke-width: 1.5px;"
                            stroke-width="2"></path>
                        </svg>  
                      </span>
                      <input class="mh2-open-search-drawer mh2-search-input" type="text" placeholder="Search">
                      {% render 'maze-search-dropdown' %}
                    </div>

                    <div class="mh2-icons">
                      <div class="mh2-user-icons">
                        {% render 'user-icons', name: 'user' %}
                        {% render 'user-icons', name: 'cart' %}
                        {% render 'icon-header', icon: 'burger' %}
                      </div>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-content {{ section.settings.menu_align }}">
                    <div class="menu-list-x">
                      {% render 'maze-header-menu', section %}
                    </div>
                </div>
                <div class="menu-content-mobile">
                  <div class="mc-mobile-wrapper">
                    {% for link in section.settings.main-menu.links %}
                      <details>
                        <summary><a href="{{ link.url }}">{{ link.title }}</a> {% if link.links != blank %}<span>+</span>{% endif %}</summary>
                        {% if link.links != blank %}
                          <div class="mc-child-link">
                            <ul>
                              {% for child_link in link.links %}
                                <li>
                                  <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        {% endif %}
                      </details>
                    {% endfor %}
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</maze-header>

{{ 'maze-header.js' | asset_url | script_tag }}

{% schema %}
  {
    "name": "Maze header",
    "settings": [
      {
        "type": "image_picker",
        "id": "header_logo",
        "label": "Logo"
      },
      {
        "type": "link_list",
        "id": "main-menu",
        "label": "Main Menu"
      },
      {
        "type": "checkbox",
        "id": "isLimitMenu",
        "label": "Limit Menu",
        "default": false
      },
       {
        "type": "checkbox",
        "id": "showArrow",
        "label": "Show Dropdown Arrow",
        "default": false
      },
      {
        "type": "select",
        "id": "menu_align",
        "label": "Menu alignment",
        "options": [
          {
            "value": "menu-left-2",
            "label": "Menu Left"
          },
          {
            "value": "menu-center-2",
            "label": "Menu Center"
          },
          {
            "value": "menu-right-2",
            "label": "Menu Right"
          }
        ],
        "default": "menu-center-2"
      },
      {
        "type": "header",
        "content": "Background Color"
      },
      {
        "type": "color_background",
        "id": "bg-color",
        "label": "Header Background Color"
      }
    ],
    "blocks": [
      {
        "type": "mega-menu",
        "name": "Mega Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Menu Item"
          },
          
          {
            "type": "header",
            "content": "Image Menu 1"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "image1"
          },
          {
            "type": "text",
            "id": "title-1",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Url"
          },
          
          {
            "type": "header",
            "content": "Image Menu 2"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "image"
          },
          {
            "type": "text",
            "id": "title-2",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "url-2",
            "label": "Menu Url"
          },

          {
            "type": "header",
            "content": "Image Menu 3"
          },
          {
            "type": "image_picker",
            "id": "image3",
            "label": "image"
          },
          {
            "type": "text",
            "id": "title-3",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "url-3",
            "label": "Menu Url"
          },

          {
            "type": "header",
            "content": "Image Menu 4"
          },
          {
            "type": "image_picker",
            "id": "image4",
            "label": "image"
          },
          {
            "type": "text",
            "id": "title-4",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "url-4",
            "label": "Menu Url"
          },

          {
            "type": "header",
            "content": "Image Menu 5"
          },
          {
            "type": "image_picker",
            "id": "image5",
            "label": "image"
          },
          {
            "type": "text",
            "id": "title-5",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "url-5",
            "label": "Menu Url"
          },

          {
            "type": "header",
            "content": "Image Menu 6"
          },
          {
            "type": "image_picker",
            "id": "image6",
            "label": "image"
          },
          {
            "type": "text",
            "id": "title-6",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "url-6",
            "label": "Menu Url"
          },

          {
            "type": "header",
            "content": "Image Menu 7"
          },
          {
            "type": "image_picker",
            "id": "image7",
            "label": "image"
          },
          {
            "type": "text",
            "id": "title-7",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "url-7",
            "label": "Menu Url"
          },

          {
            "type": "header",
            "content": "Image Menu 8"
          },
          {
            "type": "image_picker",
            "id": "image8",
            "label": "image"
          },
          {
            "type": "text",
            "id": "title-8",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "url-8",
            "label": "Menu Url"
          }
        ]
      }
    ]
  }
{% endschema %}
